* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}
.hide {
  display: none;
}
body {
  background: linear-gradient(45deg, #190361, #bb00ff);
  animation: gradient 5s ease-in-out infinite;
  background-size: 200% 200%;
}
main {
  background-color: #ffffff;
  width: 42.8rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.8);
  border-radius: 0.5rem;
  margin: 23.9rem auto;
  display: flex;
  justify-content: center;
}

/* screen 1 */
.screen1 {
  width: 30rem;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  text-align: center;
  color: #34355b;
  margin-top: 4.8rem;
  margin-bottom: 1.4rem;
}
p {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
  color: #34355b;
  margin-bottom: 2rem;
}
#closedCookie {
  width: 30rem;
  margin-bottom: 6.4rem;
}
#closedCookie:hover {
  animation-name: vibrate-fast;
  animation-duration: 0.4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  cursor: pointer;
}

/* screen 2 */
.screen2 {
  width: 30rem;
  text-align: center;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  text-align: center;
  color: #34355b;
  margin-top: 4.8rem;
}
#randomPhrase {
  background: #e4edf1;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(85, 85, 85, 0.5);

  font-family: "Dancing Script", cursive;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.9rem;
  text-align: center;
  color: #000000;
  padding: 1rem;
  margin-top: 1.7rem;
}
#btnTry {
  background: #ff9500;
  border-radius: 0.4rem;
  border-style: none;
  width: 17.4rem;
  height: 5.2rem;
  text-align: center;
  color: #ffffff;
  margin-top: 1.7rem;
  margin-bottom: 4.8rem;
  cursor: pointer;
}
#btnTry:hover {
  background: #ca7600;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes vibrate-fast {
  0% {
    transform: translate(0);
  }
  10% {
    transform: translate(-0.2rem, -0.2rem);
  }
  20% {
    transform: translate(0.2rem, -0.2rem);
  }
  30% {
    transform: translate(-0.2rem, 0.2rem);
  }
  40% {
    transform: translate(0.2rem, 0.2rem);
  }
  50% {
    transform: translate(-0.2rem, -0.2rem);
  }
  60% {
    transform: translate(0.2rem, -0.2rem);
  }
  70% {
    transform: translate(-0.2rem, 0.2rem);
  }
  80% {
    transform: translate(-0.2rem, -0.2rem);
  }
  90% {
    transform: translate(0.2rem, -0.2rem);
  }
  100% {
    transform: translate(0);
  }
}
